@import url(./table-base.css);

@page {
  size: A4 portrait;
  margin: 30px;
  margin-top: 130px;
}

.mate-pro {
  page: mate-pro;
}

.mate-pro-header {
  position: running(mateproHeaderRunning);
}
.mate-pro-footer {
  position: running(mateproFooterRunning);
}

@page mate-pro {
  @top-center {
    content: element(mateproHeaderRunning);
  }
  @bottom-center {
    content: element(mateproFooterRunning);
  }
  @bottom-left {
    content: counter(page) "page, total:" counter(pages) "pages";
    font-size: 12px;
  }
}

.mate-book {
  page: MateBook;
}

.mate-book-header {
  position: running(mateBookHeaderRunning);
}
.mate-book-footer {
  position: running(mateBookFooterRunning);
}

@page MateBook {
  @top-center {
    content: element(mateBookHeaderRunning);
  }

  @bottom-center {
    content: element(mateBookFooterRunning);
  }

  @bottom-left {
    content: counter(page) "page, total:" counter(pages) "pages";
    font-size: 12px;
  }
}
